@import url("main.css");

body {
    font:1em/1.3 "Hoefler Text","Georgia",Georgia,serif,sans-serif;
}

.post-info{
    display: none;
}

#banner nav {
    display: none;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    background: #F5F4EF;
}

#banner nav ul{
    padding-right: 50px;
}

#banner nav li{
    float: right;
    color: #000;
}

#banner nav li a {
    color: #000;
}

#featured, #extras {
    padding: 50px;
}

#featured {
    padding-top: 20px;
}

#extras {
    padding-top: 0px;
    padding-bottom: 0px;
}
